@using safe_web_app.Models
@model List<Application>
@{
    Layout = null;
    var app = Model[0];
    //Needs a Comment database call
}


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    
    <form id="form1" runat="server">
        <div class="col-md-4">
            <h2><img src="~/Images/@app.imageUrl" alt="" height="42" width="42" /> @app.title</h2>
            <p>
                @app.app_desc
            </p>
            <p>
                <strong>Rating: </strong>@app.rating
                @{
                    for (int i = 1; i < app.rating; i++)
                    {
                        <img src="~/Images/fullStar.jpg" alt="fullStar" height="20" width="20" />
                    }
                    int num = 0;
                    if (app.rating % 1 > 0)
                    {
                        num = 1;
                        <img src="~/Images/halfStar.jpg" alt="halfStar" height="22" width="20" />
                    }
                    else
                    {
                        num = 0;
                    }

                    for (int i = 0; i < 5 - num - app.rating; i++)
                    {
                        <img src="~/Images/emptyStar.jpg" alt="emptyStar" height="20" width="20" />
                    }
                }
            </p>
        </div>
        <table style="width:100%;" id="Comments">
            <tr>
                <hr />
            </tr>
        </table>

        <table style="width:100%;">
            <tr>
                <td>
                    Comment:<br />
                    <textarea id="commentBox"></textarea>
                    <br />
                    <button type="button" ID="Button1" runat="server" onclick="display()">Comment</button>
                </td>
            </tr>
        </table>
    </form>
    <script>

        function display() {
            var x = "<tr>" + document.getElementById("commentBox").value + " @DateTime.Now ";
            document.getElementById("Comments").innerHTML += x;
            document.getElementById("Comments").innerHTML += "<hr /></tr>";
        }
    </script>
</body>
</html>

