@{
    ViewBag.Title = "Help Page";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<p>
    To view a full catalogue of the go to the <img src="~/Images/cata.JPG" /> page in the top left corner of the page.
</p>
<p>
    To view our showcased, top-three apps based on rating, head to our <img src="~/Images/safe.JPG" /> page in the top left corner of the page.
</p>

<p>
    To register as a user, head to the top right of our page to register with an email! If you have an account, our log in function can also be found there: <img src="~/Images/log.JPG" />
</p>
<p>
    If there's an app out there that you think deserves to be in our catalogue, let us know and submit a request! Navigate to our <img src="~/Images/sub.JPG" /> page in the top left corner of the page. (<strong>Note:</strong> You must be a user to submit a request. To register or login, follow the previous instructions.)
</p>

<address>
    <strong>Still have question? Reach out to us:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>