@using safe_web_app.Models
@model ManageUsersViewModel
@{
    ViewBag.Title = "Manage Users";
}
@*Allows admin to change the role of a user*@
<h4>Manage Users</h4>
<table class="table">
    <tbody>
        @foreach (var user in Model.users)
        {
            <tr>
                <td>@user.Email</td>                
                <td>Delete</td>
                <td>Change Role</td>
            </tr>
        }
    </tbody>
</table>        